body {
    background-image: url(../media/forfallet.webp);
    background-size: cover;
    margin: 0;
}

#over {
    text-align: center;
    height: 65vh;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1%;
}
#over img {
    width: 50vw;
}

#under {
    background-color: rgb(32, 32, 32);
    height: 100vh;
}