body {
    background-image: url(/media/forfallet.webp);
    background-size: cover;
    margin: 0;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar {
    display: flex;
    justify-content: space-evenly;
}

#over {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 65vh;
    padding: 1%;
}
#over img {
    max-width: 500px;
}
#over div {
    text-align: center;
    justify-content: center;
}

#side {
    min-height: 100vh;
    padding-top: 50px;
}

.innhold {
    margin: 0 auto;
    max-width: 900px;
    padding: 40px;
    /* display: flex;
    justify-content: center; */
}
.innhold a {
    color: inherit;
}

.farget {
    background-color: rgb(32, 32, 32);
}
.lystfarget {
    background-color: rgb(108, 108, 108);
}
.gjennomsiktig {
    background-color: rgba(32, 32, 32, 0.5);
}
.skygget {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.knapp {
    text-decoration: none;
    color: inherit;
    background-color: rgb(225, 31, 28);
    padding: 15px 0px;
    width: 200px;
    text-align: center;
}

.hoverexpand {
    transition: transform 0.2s ease-out;
}
.hoverexpand:hover {
    transform: scale(1.1);
}
